[Desktop Entry]
Version=1.0
Name=VBT
Comment=Vos Broadcast Tool
GenericName=Streaming Tool
Keywords=Stream,Audio,Shoutcast,Icecast,Record
Exec=VBT %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=VBT
StartupWMClass=VBT_FLTK
Categories=AudioVideo;Audio;AudioVideoEditing;
StartupNotify=true

